<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="api_utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" name="APIAutomationFramework">
        <classes>
            <class name="api_test.UserTests"/>
            <class name="api_test.DDTTests"/>
        </classes>
    </test>
</suite>